<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Flight Reservation System</a>
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">sign up</button>
  </nav>
<div class="main" class="jumbotron">
  <form>
    <div>
      <label for="username">UserName:</label>
      <input type="text" name="username" >
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" name="password" >
    </div>
    <div>
      <input type="submit" value="LOG IN" >
    </div>
    
  </form>
</div>

