
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Flight Reservation System</a>
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Logout</button>
    </nav>

<div class="main" class="jumbotron">
    <h4>Welcome Admin</h4>
       
    <div>
        <input type="button" value="Add a Flight" class="btn btn-primary" class="btn btn-primary"  >
      
        <input type="button" value="Schedule a Flight"  class="btn btn-primary" >
      </div>
      <div>
        <input type="button" value="Search a Flight" class="btn btn-primary"  >
      
        <input type="button" value="Search Scheduled Flight"  class="btn btn-primary" >
      </div>
      <div>
        <input type="button" value="View Flights Available"  class="btn btn-primary" >
      
      <input type="button" value="View Scheduled Flight"  class="btn btn-primary" >
    </div>
    
  
</div>


